box * {
    margin: 1px;
}

#oks-title {
    font-weight: 700;
    font-size: 20px;
    margin: 4px;
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
}

#oks-title #button_actions, #oks-title #button_actions:hover {
    color: @theme_selected_fg_color;
    background-color: @theme_selected_bg_color;
    margin: 0;
    border: none;
    border-image: none;
    background-image: none;
    text-shadow: none;
    box-shadow: none;
    opacity: 1;
}

#oks-title #button_actions:disabled {
    /* Quick hack to hide button when it's insensitive */
    opacity: 0;
}

#oks-title #hbox {
    padding: 4px;
}

paned separator {
    background-image: none;
    padding: 0;
}
